* {
  border: 0;
  padding: 0;
}

.card-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.car{
 width: 15%;
 height: 60%;
 padding-inline: 75px;
 padding-top:75px;
}

.sedan-card {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}
.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
.suv-card {
  background-color: hsl(184, 100%, 22%);
}

img{
  width: 75px;
  padding-bottom: 15px;
}
h2 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 3rem;
}
p {
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.725);
  font-size: 1.275rem;
  line-height: 1.625;
  padding-bottom: 100px;
}
button {
  padding: 1.125rem 2.5rem;
  font-size: 1.25rem;
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 980px;
}

.orange-btn {
  color: hsl(31, 77%, 52%);
}
.cyan-btn {
  color: hsl(179, 100%, 13%);
}
.dk-cyan-btn {
  color: hsl(184, 100%, 22%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


